body{
    width: auto;
    font-family: "Inter", sans-serif;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 80px 18px 80px;
    padding: 0px 32px 0px 32px;
    background-color: #FFFFFF;
}
.cabecalho__nome{
    font-size: 18px;
    color: #3A404E;
    font-weight: 500;
    line-height: 24px;
}
.logo-nome{
    display: flex;
    align-items: center;
    gap: 8px;
}
.paginas{
    display: flex;
    gap: 40px;
}
.paginas__nome{
    font-size: 16px;
    color: #667085;
    font-weight: 400;
    line-height: 24px;
}
.paginas__nome:hover{
    color: #8E2424;
    cursor: pointer;
    box-shadow: #896565;
}
.botoes{
    display: flex;
    gap: 12px;
}
.botao_1{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #667085;
}
.botao_2{
    width: 112px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #8E2424;
    padding: 10px 18px 10px 18px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #8E2424;
    box-shadow: 0px 1px 2px 0 #0453f10d;
}
.sobre{
    height: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.sobre__sobre{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #8E2424;
}
.sobre__titulo{
    display: inline-block;
    width: 652px;
    height: 60px;
    padding: 0px, 32px, 0px, 32px;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -2%;
    color: #101828;
}
.sobre__paragrafo{
    display: inline-block;
    width: 890px;
    height: 60px;
    padding: 12px 0px 0px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #667085;
}
.metricas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista__metricas{
    display: flex;
    /*margin: top right bottom left*/
    margin: 0 80px 96px 80px;
    gap: 32px;
    line-height: 24px;
}
.item__metricas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 168px;
}
.item__titulo{
    margin-bottom: 27px;
    font-size: 60px;
    font-weight: 600;
    color: #8E2424;
}
.item__subtitulo{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #101828;
}
.item__paragrafo{
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}
.vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vagas__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.container__open{
    font-size: 14px;
    background-color: rgba(142, 36, 36, 0.05);
    color: #8E2424;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 16px;
    padding: 1em;
}
.container__titulo{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -2%;
    color: #101828;
}
.container__subtitulo{
    font-size: 20px;
    font-weight: 400;
    color: #667085;
}
.vagas__img{
    margin: 4em 2em;
}
.dev__vagas{
    margin-top: 3em;
}
.lista__categoria{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.titulo__categoria{
    font-size: 20px;
    font-weight: 500;
    color: #101828;
}
.nome__vaga{
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 768px;
}
.titulo__vaga{
    font-size: 18px;
    font-weight: 500;
    color: #101828;
}
.descricao__vaga{
    font-size: 16px;
    font-weight: 500;
    color: #667085;
}
.depoimento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
    gap: 2em;
    padding: 4em;
    background: rgba(195, 25, 25, 0.03);
    width: 1216px;
}
.depoimento_text__container, .depoimento_img__container, .form__texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.depoimento__titulo{
    font-size: 14px;
    font-weight: 600;
    color: #8E2424;
    letter-spacing: 1px;
}
.depoimento__texto{
    font-size: 36px;
    font-weight: 500;
    color: #101828;
    text-align: center;
}
.img_avatar{
    width: 56px;
    height: 56px;
}
.nome_avatar{
    font-size: 16px;
    font-weight: 500;
    color: #101828;
    text-align: center;
}
.dev_avatar{
    font-size: 14px;
    font-weight: 400;
    color: #667085;
    text-align: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
    gap: 2em;
    padding: 4em;
    width: 1216px;
    background-color: #F9FAFB;
}
.titulo_form{
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    text-align: center;
}
.texto_form{
    font-size: 20px;
    font-weight: 400;
    color: #667085;
    text-align: center;
}
.inputs{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.input__email{
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 1em;
    width: 360px;
}
.input__email::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #667085;
}
.button__cadastro{
    border: 1px solid #8E2424;
    background-color: #8E2424;
    border-radius: 8px;
    padding: 1em;
}
.button__cadastro a{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.copyright{
    font-size: 16px;
    font-weight: 400;
    color: #98A2B3;
}